

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  
</head>
<body>

    <div class="container">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Yeni Öğrenci Ekle</button><br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>
                        Kilo
                    </th>
                    <th>
                        Boy
                    </th>
                    <th>
                      Doğum-Tarihi
                    </th>
                    <th>
                        Sil-Güncelle
                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary">

                    <h4 class="modal-title" style="text-align:center" id="myModalLabel">Yeni Öğrenci Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="StudentID">ID</label>
                            <input type="text" class="form-control" id="StudentID" placeholder="Numara" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="StudentName">Adı</label>
                            <input type="text" class="form-control" id="StudentName" placeholder="adı" />
                        </div>
                        <div class="form-group">
                            <label for="Weight">Kilo</label>
                            <input type="text" class="form-control" id="Weight" placeholder="kilo" />
                        </div>
                        <div class="form-group">
                            <label for="Height">Boy</label>
                            <input type="text" class="form-control" id="Height" placeholder="boy" />
                        </div>
                        <div class="form-group">
                            <label for="DateOfBirth">Doğum Tarihi</label>
                            <input type="date" class="form-control" id="DateOfBirth" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Ekle</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Güncelle</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

  
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });

    
    function loadData() {
        $.ajax({
            url: "/Home/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

              
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.StudentID + '</td>';
                    html += '<td>' + item.StudentName + '</td>';
                    html += '<td>' + item.Weight + '</td>';
                    html += '<td>' + item.Height + '</td>';
                    html += '<td>' + item.DateOfBirth + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.StudentID + ')">Düzenle</a> | <a href="#" onclick="Delele(' + item.StudentID + ')">Sil</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function Add() {
        $('#myModalLabel').text('Öğrenci Ekle');
      

        var res = validate();
        if (res == false) {
            return false;
        }
        var empObj = {
          
            StudentName: $('#StudentName').val(),
            Weight: $('#Weight').val(),
            Height: $('#Height').val(),
            DateOfBirth: $('#DateOfBirth').val()
        };
        $.ajax({
            url: "/Home/Add",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }  


    function Delele(id) {
       
        var ans = confirm("Seçilen kaydı silmek istediğinizden eminmisiniz ?");
        if (ans) {
            $.ajax({
                url: "/Home/Delete/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }  


    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var studentObj = {
            StudentID: $('#StudentID').val(),
            StudentName: $('#StudentName').val(),          
            Weight: $('#Weight').val(),
            Height: $('#Height').val(),
            DateOfBirth: $('#DateOfBirth').val()
        };
        $.ajax({
            url: "/Home/Update",
            data: JSON.stringify(studentObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
                $('#StudentID').val("");
                $('#StudentName').val("");
                $('#Weight').val("");
                $('#Height').val("");
                $('#DateOfBirth').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }  
    function getbyID(id) {
        $('#StudentName').css('border-color', 'lightgrey');
        $('#Weight').css('border-color', 'lightgrey');
        $('#Height').css('border-color', 'lightgrey');
        $('#DateOfBirth').css('border-color', 'lightgrey');  
        $.ajax({
            url: "/Home/getbyID/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#StudentID').val(result.StudentID);
                $('#StudentName').val(result.StudentName);
                $('#Weight').val(result.Weight);
                $('#Height').val(result.Height);
                $('#DateOfBirth').val(result.DateOfBirth);
                $('#myModalLabel').text('Öğrenci Düzenle');

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }  
    function clearTextBox() {
        $('#StudentID').val("");
        $('#StudentName').val("");
        $('#Weight').val("");
        $('#Height').val("");
        $('#DateOfBirth').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#StudentName').css('border-color', 'lightgrey');
        $('#Weight').css('border-color', 'lightgrey');
        $('#Height').css('border-color', 'lightgrey');
        $('#DateOfBirth').css('border-color', 'lightgrey');  
    }  
    function validate() {
        var isValid = true;
        if ($('#StudentName').val().trim() == "")
        {
            $('#StudentName').css('border-color', 'Red');
            isValid = false;
        }
        else
        {
            $('#StudentName').css('border-color', 'lightgrey');
        }
        if ($('#Weight').val().trim() == "")
        {
            $('#Weight').css('border-color', 'Red');
            isValid = false;
        }
        else
        {
            $('#Weight').css('border-color', 'lightgrey');
        }
        if ($('#Height').val().trim() == "")
        {
            $('#Height').css('border-color', 'Red');
            isValid = false;
        }
        else
        {
            $('#Height').css('border-color', 'lightgrey');
        }
        if ($('#DateOfBirth').val().trim() == "")
        {
            $('#DateOfBirth').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#DateOfBirth').css('border-color', 'lightgrey');
        }
        return isValid; 
       
    }  
</script>
